* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url("./images/headlline-blob.svg");
  background-repeat: no-repeat;
  background-position: 70vw;
}

.about-me-intro {
  background-image: url("./images/about-me.svg");
  background-repeat: no-repeat;
  background-position: 70vw;
}
